body {
  font-family: sans-serif;
  background-color: darkcyan;
}
.intro {
  display: flex;
  color: white;
  height: 100vh;
}

.typing {
  margin-left: 10px;
  position: relative;
}

.typing::after {
  content: "";
  position: absolute;
  width: 1px;
  right: -5px;
  width: 1px;
  height: 10%;
  border-right: 4px solid white;
  animation: blink 0.5s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
